.Options
    display: grid
    grid-template-columns: auto 30px
    grid-template-rows: repeat(2, auto)
    grid-gap: 10px
    margin-top: 10px

    .FormInput
        margin-bottom: 0
        grid-column: 1 / 2            
        &:nth-of-type(1)
            grid-row: 1 / 2
        &:nth-of-type(2)
            grid-row: 2 / 3
    
    input[type=button]
        grid-column: 2 / 3        
    .RemoveOption
        grid-row: 1 / 2            
    .AddOption
        grid-row: 2 / 3


    
    
    
