.CreatePollForm
    margin: auto
    padding: 30px
    max-width: 600px

    .Label
        margin-bottom: 2px
        display: block
        font-size: 16px
        font-weight: 600
        color: rgba(0,0,0,0.8)

    $error-color: red

    .Error
        margin-bottom: 2px
        font-size: 14px
        font-weight: 500
        color: $error-color

    .OptionFields
        display: grid
        grid-template-columns: auto 40px
        grid-gap: 10px

        .OptionInput
            margin-bottom: 0
            grid-column: 1 / span 1
            padding: 8px 10px
            background: #fff
            border: 1px solid #aaa
            border-radius: 3px
            font-family: inherit
            font-size: 14px
            color: #222
            
            &:focus
                outline: none
                border-color: blue        

            &.Invalid
                border-color: $error-color
                &:focus
                    outline: none
                    box-shadow: inset 1px 1px 1px $error-color, inset -1px -1px 1px $error-color
        
        .InputButton
            grid-column: 2 / 3        
            &:first-of-type
                grid-row: 1 / span 1
                
        