.MyPolls
  margin: auto
  max-width: 800px

  .MyPoll
    margin-bottom: 15px
    padding: 15px 20px

    background: rgba(0,0,0,0.1)
    border: 1px solid rgba(0,0,0,0.1)
    border-radius: 4px
    list-style-type: none
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4)
    &:last-of-type
      margin-bottom: 0
      
    &:hover
      background: rgba(0,0,0,0.2)
      border: 1px solid rgba(0,0,0,0.15)


    .PollInfo
      display: flex
      align-items: flex-start

      a
        align-self: center
        margin-right: 10px
        flex-basis: 0
        flex-grow: 1
        word-break: break-word
        text-decoration: none
        color: inherit
        &:hover
          text-decoration: underline

    @media(max-width: 480px)
      background: inherit
      border: none
      border-radius: 0
      box-shadow: none
      &:hover
        border: none

      .PollInfo
        flex-direction: column

      .VotesAndButtons
        width: 100%
        justify-content: space-between

    .VotesAndButtons
      display: flex
      align-items: center

      .Votes
        margin-right: 10px

        .VoteCount
          font-weight: 600

      button
        margin-right: 5px
        &:last-of-type
          margin-right: 0
        height: 30px
        width: 30px
        cursor: pointer
        border: 1px solid rgba(0,0,0,0.3)
        border-radius: 50%

        &.DeleteButton
          color: rgba(255,0,0,0.6)

        &.ShareButton
          color: rgba(0,0,0,0.8)

    

  .SharePollContainer
    margin-top: 10px
    display: grid
    grid-template-columns: auto 10px
    grid-template-rows: auto auto
    grid-row-gap: 10px

    .NeutralButton
      padding: 0
      grid-column: 2 / span 1
      grid-row: 1 / span 1      

    .SharePoll
      grid-column: 1 / span 2
      grid-row: 2 / span 1
      display: flex

      .ShareURL
        padding: 0
        padding-left: 10px
        flex-grow: 1
        background: #fff
        border-radius: 2px 0 0 2px
        border: none
        font-family: inherit
        font-weight: 400
        font-size: 14px

      .Button
        display: flex
        align-items: center
        justify-content: center
        width: 35px
        border-top-left-radius: 0
        border-bottom-left-radius: 0
