.GitHubLogin
    display: flex
    align-items: center
    justify-content: center
    width: 300px
    margin: 20px auto auto auto
    padding: 5px 0
    background: #333
    border: 1px solid #111
    border-radius: 4px
    font: inherit
    color: #eee
    cursor: pointer
    box-shadow: 1px 1px 5px #999
    svg
        margin-left: 5px
        fill: #eee
        transform: scale(0.85)